name: Run tests

on:
  push:
    branches:
      - master
    paths:
      - '**/*.dart'
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - master
    paths:
      - '**/*.dart'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - name: Setup Dart
      uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
    - name: Get app dependencies
      run: dart pub get
    - name: Analyze
      run: dart analyze
    - name: Test app
      run: dart test -r expanded
